@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import './base.css';
/*========================================= GENERAL CONFIGURATIONS ========================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.height {
  height: 119.80033277870216vh;
}
.blue {
  /* background-color: #274a9d;*/
  background-color: darkgray;
}

.green {
  background-color: #03c874;
}
.white-text {
  font-family: Jost;
  font-weight: 500;
  color: #d9d9d9;
}

.title-text {
  font-size: 1.5rem;
  line-height: 35px;
}

.form-width {
  max-width: 17.96875vw;
}
.jla-logo {
  width: 26.041666666666668vw;
  height: 52.02913631633715vh;
  background-color: #a3a798;
}

.input {
  height: 6.322795341098169vh;
  width: 57.40432612312812vh;
  border: 1px solid #e5ebf1;
  border-radius: 4px;
  padding-left: 10px;
  color: #7b828d;
  background-color: #fff;
}

.label-text {
  color: #7b828d;
  margin-left: 15px;
  font-size: 0.9rem;
}

.header-greeting {
  font-family: Jost;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 3.610648918469218vh;
  color: #26324b;
  text-align: center;
}
.logout-text {
  font-family: Jost;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 3.610648918469218vh;
  color: #757f98;
  text-align: center;
}
/*======================================= LOGIN PAGE =======================================*/

.login-title {
  color: #26324b;
  font-family: Jost;
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 6vh;
  margin-bottom: 3.25vh;
}
.login-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2px;
}
.login-logo-area {
  /*grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
  background-color: #a3a798;
}
.login-form-area {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-button {
  padding: 0.3125rem 8.9375rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background-color: #111b74;
  color: #f1f1f1;
  margin-top: 4.159733777038269vh;
  font-family: Jost;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
}

/*======================================= DASHBOARD =======================================*/

/*======================================= SIDEBAR =======================================*/
.sidebar {
  background-color: #74776b;
}
.jla-logo-sidebar {
  width: 8rem;
  height: 12rem;
  background-color: #74776b;
}
.sidebar-button {
  font-family: Jost;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 7.875rem;
  height: 2.1875rem;
  border-radius: 0.25rem;
  border: 1px solid #74776b;
  color: #fff;
  background-color: #74776b;
}
.sidebar-icons {
}
/*======================================= HEADER =======================================*/
/*;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/
